.App {
  text-align: center;
  background-image: url(https://scontent.fapa1-1.fna.fbcdn.net/v/t1.0-9/116192809_10221736682593643_582616306627779396_o.jpg?_nc_cat=106&ccb=2&_nc_sid=8bfeb9&_nc_ohc=EakAzijBQWsAX_zR_Nr&_nc_ht=scontent.fapa1-1.fna&oh=4a9200e16b339168a2cbd5b7b643beee&oe=5FF8965D);
  background-position: center;
}

.mid {
  color: rgb(77, 74, 74);
  height: 800%vh;
  display: flex;
  flex-direction: column;
}

.layoutchildren {
  min-height: calc(100vh - 102px - 60px);
}

.name {
  width: 495px;
  margin: 80px 160px 0px 620px;
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px #ddbea9;
}

.position {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-end;
  width: 30px;
  margin: 0px 850px 1px 0px;
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px #ddbea9;
}

.main {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.slash {
  color: white;
  background-color: white;
  display: inline-block;
  position: absolute;
  height: 130px;
  padding: 140px 0px 30px 0px;
  margin: 55px 0px 0px 960px;
}

.explore {
  display: flex;
  flex-direction: column-reverse;
  font-size: 45px;
  position: relative;
  margin: 110px 0px 0px 0px;
  
}

.emw {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px #ddbea9;
  margin: 70px auto 70px auto;
}

.porttitle {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px #ddbea9;
  font-size: 30px;
}

.portfolio {
  align-content: center;
}

.card1 {
  border: solid 5px #355f54;
  background-color: rgb(119, 119, 119);
  color: white;
  width: 50vw;
  padding: 0px 0px 10px 0px;
  margin: 15px auto 45px auto;
  border-radius: 50px;
}

.card1:hover{
  transform: scale(1.2)
}


.cardtitle {
  color: white;
  font-size: 25px;
}

.button {
  text-decoration: none;
  color: white;
  background-color: #355f54;
  font-size: 15px;
  border-radius: 50px;
}

.aboutmain{
  color: rgb(77, 74, 74);
  height: 800%vh;
  display: flex;
  flex-direction: column;
}
.abouttop{
  display:flex;

}

.aboutcontainer {
  color: white;
  font-size: 30px;
  margin: 0px 0px 0px 90px;
}
.aboutcontainer:hover{
  transform: scale(1.1);
}


.info{
  border: solid 5px #355f54;
  background-color: rgb(119, 119, 119);
  color: white;
  width: 60vw;
  border-radius: 50px;
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 45px;
}

.hinfo{
  border: solid 5px #355f54;
  background-color: rgb(119, 119, 119);
  color: white;
  width: 20vw;
  border-radius: 50px;
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 45px;
}


.othercontainer{
  font-size: 30px;
  margin: 0px 10px 0px 140px;
}
.othercontainer:hover{
  transform: scale(1.1);
}

.containertitle{
  color: white;
  text-shadow: 2px 2px #ddbea9;
}

.hobbies {
  display: flex;
  align-content: center;
}


.pic{
  height: 200px;
  width: 200px;
  border-radius: 40px;
  padding: 15px;
}

.pic:hover{
  transform: scale(1.2)
}