.App {
  text-align: center;
  background-image: url(https://scontent.fapa1-1.fna.fbcdn.net/v/t1.0-9/116192809_10221736682593643_582616306627779396_o.jpg?_nc_cat=106&ccb=2&_nc_sid=8bfeb9&_nc_ohc=EakAzijBQWsAX_zR_Nr&_nc_ht=scontent.fapa1-1.fna&oh=4a9200e16b339168a2cbd5b7b643beee&oe=5FF8965D);
  background-position: center;
}

.mid {
  color: rgb(77, 74, 74);
  height: 800%vh;
  display: flex;
  flex-direction: column;
}

.layoutchildren {
  min-height: calc(100vh - 102px - 60px);
}

.name{
  width: 495px;
  margin:80px 160px 0px 400px;
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px #ddbea9;
}

.position{
  display: flex; 
  flex-direction: row;
  align-items: flex-end;
  align-content: flex-end; 
  width: 30px;
  margin: 0px 780px 1px 0px;
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px #ddbea9;
}

.main{
  display:flex;
  justify-content: space-between;
  position: relative;
}

.slash{
  color: white;
  background-color:white;
  display: inline-block;
  position: absolute;
  height: 130px;
  padding: 140px 0px 0px 0px;
  margin: 55px 0px 0px 699px;
}

.explore{
  display: flex;
  flex-direction: column-reverse;
  font-size: 45px;
  position: relative;
}

.emw{
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px #ddbea9;
  margin: 50px 0px 0px -140px;
}