.top {
  background-color: #355f54;
  height: 102px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.headercenter{
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}

.headerleft, .headerright{
  align-items: center;
}



.link {
  padding: 10px 25px 0px 25px;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  right: 3px;
  align-items: center;
}

.face {
  display: inline-flex;
  position: absolute;
  top: 1px;
  left: 8px;
  font-size: 18px;
  border-radius: 35px;
}

.git{

  height:60px;
  width:60px;
  margin: 0px 0px 0px 0px;
  
}

.linked{
  height: 60px;
  width: 60px;
  right: 3px;
}

